rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {

    match /testimonials/{doc} {
      allow read: if false;
      allow write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }

  }
}
